body{
  background-color: black;
  color: white;
}
#header{
  background-color: grey;
  color: black;
  border-radius: 0px;
  margin: 0px;
  border: 0px;
}
#cont{
  margin : 5px;
}
#top{
  margin: 0px;
  color: black;
  font-size: 30px;
}

h1{
  margin-bottom: 20px;
  margin-top: 20px;
}

#nav-list{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#l1 , #l2 ,#l3{
  background-color: black;
}

hr{
  margin: 0px;
}

@media (min-width: 255px) and (max-width: 768px){
#collapsable-nav{
  background-color: rgb(80,80,255); 
  margin: -20px;   
}
}

@media (min-width: 183px) and (max-width: 254px){
#collapsable-nav{
  background-color: rgb(80,80,255); 
  margin: -20px;   
}
#top{
  margin: 0px;
  color: black;
  padding: 15px 2px 15px;
  font-size: 20px;
}
}

@media (max-width: 182px){
#collapsable-nav{
  background-color: rgb(80,80,255); 
  margin: -20px;   
}
#top{
  margin: 0px;
  color: black;
  padding: 15px 2px 15px;
  font-size: 16px;
}
}

section {
  background-color: rgb(60,60,60);
  border: 1px solid white;
  margin-bottom: 15px;
  height: 700px;
  overflow: auto;
}
